{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
<div class="row">
    
    <div class="col-10">
    <br>
        {{form_start(form) }}
    <div class="row well">
        <div class="col-4">    
           <div class="form-group">
                <label class="required" for="zone">Nom Feuillet</label>
                <select id="nom_f" name="nom_f" class="form-control">
                    <option value="" selected disabled>Choisir Nom</option>
                    
                    {% for item in noms %}
                        <option >{{item.libelle}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="required" for="zone">Zone</label>
                <select id="zone" name="zone" class="form-control">
                    <option value="" selected disabled>Choisir Zone</option>
                    
                    {% for item in zones %}
                        <option >{{item.libelle}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Numéro de feuillet</label>
            <input type="number" class="form-control" name="num_feuillet" id="num_feuillet" placeholder="Numéro">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Nom Site</label>
            <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom..">
            </div>
            
        </div>
        <div class="col-4">
            <div class="form-group">
            <label for="exampleInputPassword1">Type</label>
            <input type="text" class="form-control" name="type" id="type" placeholder="Type..">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Coordonne X</label>
            <input type="number" class="form-control" name="cor_x" id="cor_x" placeholder="Coordonne X">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Coordonne Y</label>
            <input type="number" class="form-control" name="cor_y" id="cor_y" placeholder="Coordonne Y">
            </div>
            
            
            

        </div>
       

    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2"><a class="btn btn-warning" href=""><button type="submit"  class="btn btn-warning"><i class="fa fa-search" aria-hidden="true"></i></span></button></a></div>
    </div>
        

{{form_end(form)}}
        
    </div>
    <div class="col-1">
        {% if app.user.profile.id == 2 %}
        <br/>
        <a  class="btn btn-info" href="{{ path("new_DocHeritage") }}" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
        {% endif %}

        
    </div>
</div>

<div class="row">
   
    <div class="col-9">
    <br>
    <h3>Liste des documents</h3>
        <br>
        {% if count == 1 %}
        <div class="alert alert-dismissible alert-danger">
        
        <h4 class="alert-heading">Oops!! désolé .</h4>
        <p class="mb-0"> Aucun resultat pour votre recherche  &nbsp;:( . Veuillez saisir un critère valid !</p>
        </div>
        {% else %}
        <table class="table table-light">
            <thead class="table-primary">
                <tr>
                    <td>Nom Feuillet</td>
                    <td>Zone</td>
                    <td>Numero de Feuillet</td>
                    <td>Nom Site</td>
                    <td>Type</td>
                    <td>Coordonne_X</td>
                    <td>Coordonne_Y</td>
                    <td>Télecharger</td>
                </tr>
            </thead>
            <tbody>
                {% for item in documents %}

                <tr>
                    <td>{{ item.nomFeuillet }}</td>
                    <td>{{ item.zone }}</td>
                    <td>{{ item.numeroFeuillet }}</td>
                    <td>{{ item.NomSite }}</td>
                    <td>{{ item.Type }}</td>
                    <td>{{ item.coordoneeX }}</td>
                    <td>{{ item.coordoneeY }}</td>
                    
                    <td><a href="{{ path('download', {'file' : item.fileName }) }}">View Document (.pdf/.zip)</a></td>
                    
                </tr>
                {% endfor %} 
            </tbody>
            
        </table> 
        <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <div class="navigation pagination-sm">
               {{ knp_pagination_render(documents) }} 
            </div>
        </div>
        </div>
        
        {% endif %}
        
        
    </div>
    
</div>

<div style="height:300px"></div>

{% endblock %}
